@{
    ViewBag.Title = "Hayattan Dersler";
}

<h1>@ViewBag.Title</h1>

<ul>
    <li>Yazılımda olduğu gibi hayatta da hatalar kaçınılmazdır, önemli olan ders almak. 😇 - Hamit</li>
    <li>Hayal kurmaktan vazgeçme, seni başarıya onlar götürecek - Ayşe</li>
    <li>Yol gidenin kod yazanın - Atakan</li>
    <li>Her gün, kendini bir önceki günden biraz daha geliştirmek için bir fırsattır. - İrem R.</li>
    <li>Biz hiçbir zaman düşmanlarımızdan korkmadık. Biz dost görünümlü hainlerden korktuk - Gözde</li>
    <li>Hayat bir yazılım gibi hatalarla karşılaştığında paniğe kapılma, her sorunun bir çözümü ve her çözüme giden yol vardır - Serhat</li>
    <li>Eğer her şey kontrol altında gibi görünüyorsa, yeterince hızlı gitmiyorsunuzdur. - Gülşen</li>
    <li>İnanç bi' tarladır, hedefi olanların sürdüğü. Gülmek bir mükafattır Ağlayan gözlerin gördüğü - Nazif</li>
    <li>Kodlar geçici, ama iyi bir algoritma sonsuza dek yaşar. - Melis</li>
    <li>Bugunku aklim olsa dün yaptiklarimi yapmazdım, dün yaptiklarimi yapmasam bugunku aklim olmazdi - Yaşar</li>
    <li>Ekinler baş vermeden kör buzağı topallamazmış. - Burak</li>
</ul>